<div class=container>
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input type="text" pInputText [autofocus]="true" name="descricao" [(ngModel)]="filtro.descricao">
      </div>
      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '100px'}"
          name="dataVencimentoDe" [(ngModel)]="filtro.dataVencimentoDe"></p-calendar>

        <label>até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '100px'}"
          name="dataVencimentoAte" [(ngModel)]="filtro.dataVencimentoAte"></p-calendar>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" icon="fa fa-search"></button>
      </div>
    </form>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <app-lancamentos-grid [lancamentos]="lancamentos" [linhas]="filtro.linhas"
        [totalRegistros]="totalRegistros" (onLazyLoad)="pesquisar($event)"
        (onDelete)="confirmarExclusao($event)" #gridLancamentos></app-lancamentos-grid>
    </div>
    <div class="ui-g-12">
      <a pButton label="Novo Lançamento" style="display: inline-block"
        routerLink="/lancamentos/novo"></a>
    </div>
  </div>
</div>
