<p-dataTable [value]="pessoas" [responsive]="true" emptyMessage="Nenhuma pessoa encontrada"
    [paginator]="true" [rows]="itensPorLinha" [lazy]="true" [totalRecords]="totalRegistros"
    (onLazyLoad)="aoCarregar($event)" [pageLinks]="3" #tabela>
  <p-column field="nome" header="Nome" [sortable]="true"></p-column>
  <p-column field="endereco.cidade" header="Cidade"></p-column>
  <p-column field="endereco.estado" header="Estado" styleClass="col-data"></p-column>
  <p-column field="ativo" header="Situação" styleClass="col-data">
    <ng-template let-pes="rowData" pTemplate="body">
      <a href="javascript:;" [ngStyle]="getEstilosAtivo(pes.ativo)" (click)="aoMudarStatus(pes);"
        [pTooltip]="pes.ativo ? 'Inativar' : 'Ativar'" tooltipPosition="top">
          {{pes.ativo ? 'ativo' : 'inativo'}}
      </a>
    </ng-template>
  </p-column>
  <p-column styleClass="col-acoes">
    <ng-template let-pes="rowData" pTemplate="body">
      <a pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"
        [routerLink]="['/pessoas', pes.codigo]"></a>
      <button pButton icon="fa fa-trash" (click)="aoExcluir(pes)"
        pTooltip="Excluir" tooltipPosition="top" [disabled]="!util.podeExcluirPessoa()"></button>
    </ng-template>
  </p-column>
</p-dataTable>
